{% extends "blog/blogBase.html.twig" %}
{% block contenido %}
<h2>Últimas entradas</h2>
<ul class="listaNoticias">
{% for noticia in noticias %}

<li class="bloqueNoticia">
    <img src="imagenes/thumbnail-{{noticia.id}}.png">
    <h3>
      <a href="{{ path('verNoticia', {'id': noticia.id}) }}">{{noticia.titular}}</a></h3>
    <p>{{noticia.entradilla}}</p>
    <p><a href="{{ path('verNoticia', {'id': noticia.id}) }}">Leer más</a></p>
    <p>Publicada en: {{noticia.fecha|date("d/m/Y")}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</li>

 {% else %}
 <li>No hay noticias</li>
  {% endfor %}
  </ul>
{% endblock %}
